<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}/favicon-16x16.png">
        <link rel="manifest" href="{{ .Site.BaseURL }}/site.webmanifest">

        <title>コマンドラインインターフェースガイドライン (日本語訳)</title>
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="コマンドラインインターフェースガイドライン (日本語訳)" />
        <meta property="og:title"  content="コマンドラインインターフェースガイドライン (日本語訳)" />

        <meta name="description"         content="よりよいコマンドラインプログラムを書くためのオープンソースガイドです。伝統的UNIXの原則を取り入れ、それを現代的にアップデートしています。" />
        <meta name="twitter:description" content="よりよいコマンドラインプログラムを書くためのオープンソースガイドです。伝統的UNIXの原則を取り入れ、それを現代的にアップデートしています。" />
        <meta property="og:description"  content="よりよいコマンドラインプログラムを書くためのオープンソースガイドです。伝統的UNIXの原則を取り入れ、それを現代的にアップデートしています。" />

        <meta name="twitter:image" content="{{ .Site.BaseURL }}/CLIG-social-card.jpg" />
        <meta property="og:image"  content="{{ .Site.BaseURL }}/CLIG-social-card.jpg" />

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho:wght@700&display=swap');
        </style>

        {{ $css_main := resources.Get "css/main.css" }}
        <link rel="stylesheet" media="screen" href="{{ $css_main.Permalink }}">
        {{ $css_print := resources.Get "css/print.css" }}
        <link rel="stylesheet" media="print" href="{{ $css_print.Permalink }}">
    </head>
    <body>
        {{- block "main" . }}{{- end }}
        {{ $js := resources.Get "js/main.js" }}
        <script src="{{ $js.Permalink }}"></script>
    </body>
</html>
